<% if session[:username] != nil%>
<h1>Hello, <%= session[:username] %>.</h1>
<% else %>
<br><%= link_to "Sign-up", new_user_path %>
<% end %>

<br/>
<%= button_to "Logout", '/sessions', method: :delete %>